.App {
  text-align: center;
  min-height: 1000px;
  padding: 10px;
  background-color: #0e1e24;
  color: white;
}

.Header {
  background-color: #0e1e24;
  color: white;
  min-width: 315px;
}

.Topics {
  text-align: center;
  min-width: 315px;
}

.Sort {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  min-width: 315px;
}

.ArticleList {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.ArticleCard {
  background-color: lightgrey;
  color: black;
  border: solid;
  border-color: red;
  grid-column-start: 2;
  grid-column-end: 4;
  min-width: 315px;
  margin-bottom: 10px;
}

.CommentCard {
  border: solid;
  border-color: red;
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
