.App {
  text-align: center;
  min-height: 1000px;
  background-color: white;
  color: black;
}

.Header {
  background-color: #0e1e24;
  color: white;
  min-width: 315px;
}

.Topics {
  text-align: center;
  min-width: 315px;
}

.Sort {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  margin-top: 8px;
  min-width: 315px;
}

.ArticleList {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.ArticleCard {
  background-color: lightgrey;
  color: black;
  border: solid;
  border-color: #7a2aeb;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 4;
  min-width: 315px;
  margin-bottom: 10px;
}

.CommentCard {
  border: solid;
  background-color: lightgrey;
  color: black;
  border-color: #7a2aeb;
  margin-bottom: 10px;
  min-width: 315px;
  border-radius: 10px;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.coding {
  color: #dddddd;
  background-color: #7a2aeb;
  border: 2px solid #dddddd;
}

.football {
  color: #dddddd;
  background-color: #7a2aeb;
  border: 2px solid #dddddd;
}

.cooking {
  color: #dddddd;
  background-color: #7a2aeb;
  border: 2px solid #dddddd;
}
